*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
    color: white;
}

.left{
    width: 28vw;
  padding:7px;
 
  
    
}
.right{
    width: 72vw;
    margin: 14px 0;
    position: relative;
   
}



 .home ul li{
    width: 24px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 17px;
   
   
    font-weight: 700;
    
}


.invert{
    filter: invert(1);
}
.heading{
    font-weight: 700;
    display: flex;
    width: 100%;
   align-items: center;
    gap: 15px;
    
  
    
}


.library{
    
    min-height: 55vh;
    position: relative;
}


.heading img{
    width: 24px;
}
.footer{
    
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 11px;
}
.footer a{
    
   
    color: grey;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:#090909;
    align-items: center;
}
.header > *{
    padding: 15px;
}
.nav svg{
    background-color:rgba(0,0,0,.7);
    opacity: .6;
    padding: 7px;
    border-radius: 50%;
   
}


.lg-btn{
    background-color: white;
    padding: 13px 32px ;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    color: #090909;
}
.lg-btn:hover{
    font-size: 16px;
}
.sg-btn{
    background-color:#090909;;
    color: rgb(168, 162, 162);
    padding: 15px;
    border: 1px solid #090909;;
    
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.sg-btn:hover{
    font-size: 15.2px;
    color: white;
   
}
.spotifyPlaylist{
    padding: 15px;
    
}
.card-container{
    margin: 15px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
   max-height: 50vh;
    overflow:auto;
}
.card{
    margin-top: 15px;
    padding:15px;
    width:170px;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    gap: 12px;
    justify-content: center;
    position: relative;
   
   
}
.card:hover{
    background-color: #282828
}

.card p{
    color: rgb(170, 164, 164);
    font-size: 14px;
    font-weight: 500;
}
.card img{
   
    width: 100%;
    object-fit: contain;
    border-radius: 7px;
}
.play svg{
    background-color: #1fdf64;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 105px;
    right: 24px;
    opacity: 0;
}
.play svg:hover{
    opacity: 1;
}
.playBar{
    position: fixed;
    bottom: 0px;
    border-radius: 10px;
    padding: 0px;
    background: #393030;
    width: 100%;
    }
    
    

.ppp{
    display: flex;
}
.songButtons{
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100vw;
    align-items: center;
    margin: 10px;
}
.songButtons img{
    cursor: pointer;
}
.playbtn{
    background-color:white;
    padding: 8px;
    border-radius:50%;
    cursor: pointer;
}
.extrabtn{
    opacity: 0.4;
}
.songsList ul{
    padding: 12px ;
}

.songsList ul li{
    margin-top: 15px;
    list-style: none;
    width:290px;
    display: flex;
    align-items: center;
    gap: 20px;
   
    padding: 12px 0;
   
    border-radius: 7px;
    padding: 10px;
}

.info{
    
    width: 200px;
    display: flex;
    
    overflow:hidden;
}
.songsList{
    margin-top: 10px;
    height: 250px;
    
    overflow-x: hidden;
    
   
}
.songsList li:hover{
background-color:  #484343;
cursor: pointer;
}

.spt{
    width: 30px;
}
.seekbar {
    height: 4px;
    width: 85%;
    background: rgb(108, 102, 102);
    border-radius: 10px;
    position: absolute;
    bottom: 12px;
    margin: 6px;
    cursor: pointer;
}
.circle{
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: 0.3s;
    width: 13px;
    height: 13px ;
    border-radius: 13px;
    background-color: aliceblue;
}
.seek{
    display: flex;
    justify-content: center;
    align-items: center;
}
   

.songInfo{
    
        display: flex;
       
        /* background-color: #3f3f45; */
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        top: 0px;
        gap: 5px;
        width: 237px;
        overflow: hidden;
        font-size: smaller;
}

.songTime{
    font-size: 12px;
    
}
.hamburger{
    display: none;
}
.hamContainer img {
    display: none;
}
.hamContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}
.close img{
    display: none;
}

@media (max-width:900px) {
    .songInfo{
        
    display: flex;
    /* background-color: #3f3f45; */
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: -48px;
   
    gap: 5px;
    width: 237px;
    overflow: hidden;
    }
    .hamburger{
        display: block;
    }
    .hamContainer img{
        display: block;
       
    }
   .nav svg{
    display: none;
   }
 
   
    .right{
        width: 100%;
       }

    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
        
    }
    .close img{
        display: block;
    position: absolute;
    top: 12px;
    right: 15px;
    width: 30px;
    cursor: pointer;
   }
   .card{
    width: 100%;
}
}
    
   
   @media (max-width:500px) {
    
    .lg-btn{
        padding: 5px 12px;
        font-size: 13px;
    }
    .sg-btn{
        font-size: 13px;
    }
    
}

/*.libraryPlyBtn{
    background-color:#1fdf64;
    padding: 8px;
    border-radius:50%;
    cursor: pointer;
}*/
