*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
  padding:7px;
  
    
}
.right{
    width: 75vw;
    margin: 14px 0;
    
}



 .home ul li{
    width: 24px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 17px;
   
   
    font-weight: 700;
    
}


.invert{
    filter: invert(1);
}
.heading{
    font-weight: 700;
    display: flex;
    width: 100%;
   align-items: center;
    gap: 15px;
    
  
    
}
.library{
    
    min-height: 58vh;
    position: relative;
}


.heading img{
    width: 24px;
}
.footer{
    
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 11px;
}
.footer a{
    
   
    color: grey;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:#090909;
}
.header > *{
    padding: 15px;
}
.nav svg{
    background-color:rgba(0,0,0,.7);
    opacity: .6;
    padding: 7px;
    border-radius: 50%;
}


.lg-btn{
    background-color: white;
    padding: 13px 32px ;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    
}
.lg-btn:hover{
    font-size: 16px;
}
.sg-btn{
    background-color:#090909;;
    color: rgb(168, 162, 162);
    padding: 15px;
    border: 1px solid #090909;;
    
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.sg-btn:hover{
    font-size: 15.2px;
    color: white;
   
}
.spotifyPlaylist{
    padding: 15px;
}
.card-container{
    margin: 15px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow:auto;
}

.card{
    margin-top: 15px;
    padding:15px;
    width:170px;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    gap: 12px;
    justify-content: center;
    position: relative;
   
   
}
.card p{
    color: rgb(170, 164, 164);
    font-size: 14px;
    font-weight: 500;
}
.card img{
   
    width: 100%;
    object-fit: contain;
    border-radius: 7px;
}
.play svg{
    background-color: #1fdf64;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 105px;
    right: 24px;
    opacity: 0;
}
.play svg:hover{
    opacity: 1;
}
.card:hover{
    background-color: #282828
}


 